---
layout: default
---
<!-- Shijil- This is a new search feature, Alignement to be fixed. Commenting now
<form action="/search.html" method="get">
  <label for="search-box">Search</label>
  <input type="text" id="search-box" name="query">
  <input type="submit" value="search">
</form> 
-->
<!--<div class="row align-items-center">
  <div class="col-12 col-md-12 bg-info funds-text">
    <h2 class="text-center">Call for Donations to provide relief materials to ailing daily-wage and migrant workers in Bengaluru</h2>
    <p style="font-size: 16px">The present lockdown resulting from the COVID-19 pandemic has resulted in a situation of unprecendented struggle and misery for the masses of the nation. In a country where ~90% of the workforce are in informal sector, the lockdown has resulted in complete loss of livelihood for many. Millions of daily-wage woekers and migrant labourers are unable to even feed themselves.</p>
    <p style="font-size: 16px">While the Phase-1 of the lockdown was managable for a part of these workers, with savings and such, the Phase-2 has pushed everyone to the brink of starvation. It is high time for the civil society to come to their aid.</p>
    <p style="font-size: 16px">In this regard, FSMK is organising a fund collection drive which will help in providing relief materials to the families of ailing workers. We call upon the Free Software fraternity and friends of the movement to donate funds for assisting these families immediately. </p>
    <p style="font-size: 16px">The collected funds will be utilised in assisting families identified by federal organisations already working on ground for more than a month now and are involved in the task of providing relief. An estimated <strong>~₹75,000</strong> would be required to provide relief materials required for a month to 100 families. Hence, we request everyone to contribute generously. Account details for transferring the funds are provided below. In case of any queries, please contact the person below.</p>
    <p><strong>Account Details<br>
      Name: Free Software Movement Karnataka<br>
      SB Account No: 1172101012320<br>
      IFSC code :  CNRB0000410<br>
      Bank:  Canara Bank, Narasimha raja road branch,  Bangalore - 560002<br>   
      Contact<br>
      Naveen Mudunuru 9573433977 naveen@fsmk.org <br>
      Shijil 8892324346 shijil@fsmk.org<br>
      Raghuram 9591042333 raghuram@fsmk.org<br></strong>
    </p>
  </div>
</div>-->

<div class="banner">
  <div class="banner__content">
    <div class="banner__text" style="display: flex; center;"><strong>Visit our new Community Page<a href="https://commune.fsmk.org"><button class="button button1">COMMUNITY</button></a></strong>
    </div>
  </div>
</div>

<br>

<!-- Html Elements for Search -->
<div id="search-container" style="display: flex; justify-content: center;">
<input type="search" id="search-input" placeholder="Search..." class="form-control" style="width: 75%;">
</div>
<div style="display: flex; justify-content: center;" >
<ul id="results-container"></ul>
</div>

<!-- Script pointing to search-script.js -->
<script src="/javascript/search-script.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json',
  searchResultTemplate: '<span class="card-content-excerpt"><a href="{url}"><h4>{title}</h4></a><span>{date}</span></span>'
})
</script>


<div class="row">
    {% for post in site.posts %}
    {% if post.language != 'ka' and post.pinned == true and page.layout == 'home' %}
    {% include small_card.html %}
    {% endif %}
    {% endfor %}
</div>
<div class="row row-margin">
    {% for post in paginator.posts %}
    {% if post.language != 'ka' and post.pinned != false %}
    {% include small_card.html %}
    {% endif %}
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
