---
layout: default
---

<div class="row">
    {% for post in posts %}
    {% if post.language == 'ka' and post.pinned %}
    {% include small_card.html %}
    {% endif %}
    {% endfor %}
</div>

<div class="row row-margin">
  {% for post in site.posts %}
  {% if post.language == 'ka' %}
  {% include small_card.html %}
  {% endif %}
  {% endfor %}
</div>
