<!-- Navigation -->
<!-- Shijil-  Alignement to be fixed. Commenting now
<div class="col-md-12">
 <span class="pull-right">
   <a href="{{ site.url }}">English</a>
   <a href="{{ site.url }}/ka">ಕನ್ನಡ</a>
 </span>
</div>
-->
<nav class="navbar navbar-stati-top navbar-shadow" role="navigation">
  <div class="container-fluid">
    <!-- Create mobile toggle button and bar -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <!-- Add the horizontal bars to the toggle button -->
        <span class="menu-button menu-button-en">Menu</span>
        <span class="menu-button menu-button-ka">ಆಯ್ಕೆ</span>
      </button>
      <a class="navbar-brand mobile" href="{{ site.baseurl }}/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.78199 22.775013" height="70" width="70"><path d="M11.4 0C5.107 0 0 5.097 0 11.388c0 6.29 5.108 11.387 11.4 11.387.172 0 .343-.004.515-.01-.028-.19-.05-.426-.08-.78a25.02 25.02 0 0 0-.3-2.21c-.292-1.498-.302-1.536-.228-1.73.038-.1.385-.53.768-.952l.7-.768.148-.767c.138-.712.13-.81 0-1.387-.077-.34-.138-.7-.138-.81 0-.687-.778.045-.79.744-.003.16-.075.505-.16.767-.155.475-.156.48-.253.24-.053-.13-.15-.24-.217-.24-.12 0-1.06 1.258-1.318 1.754-.188.363-.24.916-.137 1.467.094.51.035 3.63-.07 3.63-.054 0-.53-3.66-.526-4.042.003-.228-.44-.604-1.134-.974-.433-.23-.514-.322-.63-.664-.286-.838-1.08-1.857-1.444-1.857-.18 0-.182.027-.126.4l.057.402-.194-.138c-.228-.16-.516-.195-.516-.057 0 .05.26.608.573 1.226.544 1.07.608 1.14 1.283 1.707 1.072.9 1.014.806.94 1.707-.06.714-.073.776-.253.802-.148.02-.194-.013-.194-.15 0-.098-.058-.182-.115-.182-.102 0-.7-.383-.914-.585a.452.452 0 0 0-.275-.103.33.33 0 0 1-.25-.16c-.26-.48-.6-2.584-.448-2.738.057-.056.054-.13-.022-.218-.064-.074-.177-.312-.252-.527a69.903 69.903 0 0 0-.39-1.09c-.14-.38-.285-.86-.32-1.077-.076-.46-.422-1.09-.7-1.272-.314-.205-.337-.46-.045-.56.2-.07.27-.164.345-.493a4.24 4.24 0 0 0 .09-.756c.005-.42-.125-1.324-.216-1.534-.05-.114-.02-.148.102-.15.276-.003.377-.128.64-.778.328-.804.32-1.004 0-1.17a.548.548 0 0 1-.297-.412c-.05-.247-.03-.325.207-.538.196-.177.298-.217.366-.15.16.16.338.11.688-.205.184-.167.407-.31.504-.31.103 0 .207-.078.252-.195.135-.356.31-.44.607-.286.346.18.49.174.7-.034.117-.12.297-.17.55-.172.2 0 .46-.027.57-.058.196-.052.203-.085.16-.63-.022-.315-.07-.654-.1-.756-.06-.185-.07-.19.434-.057.278.073.887.15 1.352.172l.848.045V2.59c0-.473.028-.528.275-.71.182-.136.334-.18.49-.15.336.066 1.048-.683 1.135-1.192.03-.17.047-.254.092-.297A11.388 11.388 0 0 0 11.4 0zm4.433.894c-.036.062-.07.136-.138.217-.12.144-.218.31-.218.38a.686.686 0 0 1-.103.287c-.133.213-.04.424.23.527.263.1.274.19.045.332-.216.134-.61.74-.61.94 0 .08.07.233.16.332.155.165.163.235.08.996-.09.865-.155 1.01-.48 1.134-.11.042-.194.135-.194.207 0 .152.428.4.7.4.163 0 .183.027.136.264-.03.15-.057.46-.057.687v.412l-.378-.047c-.416-.047-.936.09-1.1.287-.08.094-.076.183 0 .365.082.2.065.294-.08.596-.23.48-.215.616.09 1.02.456.603.288 1.083-.33.964-.6-.115-.67-.1-.7.114a.346.346 0 0 0 .126.32c.15.11.156.126.012.528-.22.616-.204.86.103 1.088.174.13.23.217.17.275-.14.14-.1.31.127.54.262.26.54.267.802.02.164-.155.24-.17.41-.09.252.113.33.37.196.64-.176.354-.77.32-.94-.057-.13-.287-.504-.305-.504-.023 0 .107.054.31.125.446a.92.92 0 0 1 .08.573c-.032.202-.015.35.046.39.17.103.63-.055.677-.23.087-.33.894-.03.894.33 0 .274 1.13-.115 1.364-.47.125-.19.147-.194.287-.07.1.094.227.12.38.08.216-.052.23-.04.23.31 0 .44.234.696.662.7.28.004.287.006.287.424 0 .388.015.43.25.527.14.06.297.15.344.208.144.172-.202.765-.72 1.213-.444.383-.493.403-.677.287-.11-.068-.356-.144-.55-.172-.394-.06-.587.037-.756.378a.437.437 0 0 1-.343.24c-.28.033-.37.288-.286.802.057.354-.027.486-.435.745-.163.103-.165.11 0 .24a.71.71 0 0 0 .367.138c.228 0 .362.06.424.15a11.387 11.387 0 0 0 6.746-10.402A11.39 11.39 0 0 0 15.832.894zm-3.77 8.03a.13.13 0 0 0-.057.012c-.05.03-.3.38-.56.78-.505.764-1.64 1.946-1.87 1.946-.073 0-.225-.11-.33-.252-.25-.338-.39-.325-.608.046-.098.167-.217.298-.263.298-.047 0-.258-.142-.47-.32-.212-.18-.706-.606-1.1-.94-1.282-1.087-1.44-1.14-1.352-.47.12.91.73 2.312 1.215 2.795.264.263.36.3.87.33.314.02.617.09.676.15.085.084-.002.1-.412.08-.51-.024-.523-.02-.55.218-.047.406.35.966.87 1.224.517.258.78.284.94.092.077-.093.132-.11.195-.046.23.232.94-.023 1.42-.515.346-.354.425-.648.24-.928-.132-.202-.17-.216-.618-.16-.31.038-.46.032-.426-.023.03-.048.254-.116.504-.15.25-.033.58-.11.733-.183.37-.17.75-.778.917-1.443.466-1.87.502-2.203.24-2.44a.365.365 0 0 0-.207-.103z" fill="#1673ff"/></svg>
      </a>
      <a class="navbar-brand desktop" href="{{ site.baseurl }}/">
          <svg xmlns="http://www.w3.org/2000/svg" width="486.725" height="86.079" viewBox="0 0 128.77914 22.774965"><path d="M11.4 0C5.107 0 0 5.097 0 11.388c0 6.29 5.108 11.387 11.4 11.387.172 0 .343-.004.515-.01-.028-.19-.05-.426-.08-.78a25.02 25.02 0 0 0-.3-2.21c-.292-1.498-.302-1.536-.228-1.73.038-.1.385-.53.768-.952l.7-.768.148-.767c.138-.712.13-.81 0-1.387-.077-.34-.138-.7-.138-.81 0-.686-.778.046-.79.745-.003.16-.075.505-.16.767-.155.475-.156.48-.253.24-.053-.13-.15-.24-.217-.24-.12 0-1.06 1.258-1.318 1.754-.188.363-.24.916-.137 1.467.094.51.035 3.63-.07 3.63-.054 0-.53-3.66-.526-4.042.003-.227-.44-.603-1.134-.973-.433-.23-.514-.322-.63-.664-.286-.838-1.08-1.857-1.444-1.857-.18 0-.182.027-.126.4l.057.402-.194-.138c-.228-.16-.516-.195-.516-.057 0 .05.26.608.573 1.226.544 1.07.608 1.14 1.283 1.706 1.072.9 1.014.806.94 1.707-.06.714-.073.776-.253.802-.148.02-.194-.013-.194-.15 0-.098-.058-.182-.115-.182-.1 0-.7-.383-.913-.585a.452.452 0 0 0-.275-.103.33.33 0 0 1-.25-.16c-.26-.48-.6-2.584-.448-2.738.057-.056.054-.13-.022-.218-.064-.075-.177-.313-.252-.528a69.903 69.903 0 0 0-.39-1.09c-.14-.38-.285-.86-.32-1.077-.076-.46-.422-1.09-.7-1.272-.314-.205-.337-.46-.045-.56.2-.07.27-.164.345-.493a4.24 4.24 0 0 0 .09-.756c.005-.42-.125-1.324-.216-1.534-.05-.114-.02-.148.102-.15.276-.003.377-.128.64-.778.328-.804.32-1.004 0-1.17a.548.548 0 0 1-.297-.412c-.05-.247-.03-.325.206-.538.196-.177.298-.217.366-.15.16.16.338.11.688-.205.184-.167.407-.31.504-.31.103 0 .207-.078.252-.195.135-.356.31-.44.607-.286.346.18.49.174.7-.034.117-.12.297-.17.55-.172.2 0 .46-.027.57-.058.196-.052.203-.085.16-.63a5.182 5.182 0 0 0-.1-.756c-.06-.185-.07-.19.434-.057.278.072.887.15 1.352.17l.847.046V2.59c0-.473.028-.528.275-.71.182-.136.334-.18.49-.15.336.066 1.048-.683 1.135-1.192.03-.17.047-.254.092-.297A11.388 11.388 0 0 0 11.4 0zm4.433.894c-.036.062-.07.136-.138.217-.12.145-.218.31-.218.38a.686.686 0 0 1-.103.288c-.133.213-.04.424.23.527.263.1.274.19.045.332-.217.134-.61.74-.61.94 0 .08.07.233.16.332.154.164.162.234.08.995-.09.865-.156 1.01-.48 1.134-.11.04-.195.134-.195.206 0 .152.428.4.7.4.163 0 .183.027.136.264-.03.15-.056.46-.056.687v.412l-.378-.048c-.416-.047-.936.09-1.1.287-.08.093-.076.182 0 .364.082.2.065.294-.08.596-.23.48-.215.616.09 1.02.456.603.288 1.083-.33.964-.6-.115-.67-.1-.7.114a.346.346 0 0 0 .126.32c.15.11.156.126.012.528-.22.616-.204.86.103 1.088.174.13.23.217.17.275-.14.14-.1.31.127.54.262.26.54.266.802.02.164-.156.24-.17.41-.09.252.112.33.37.196.64-.176.353-.77.32-.94-.058-.13-.287-.504-.305-.504-.023 0 .106.054.31.125.445a.92.92 0 0 1 .08.573c-.032.202-.015.35.046.39.17.103.63-.055.676-.23.087-.33.894-.03.894.33 0 .274 1.13-.115 1.364-.47.125-.19.147-.194.287-.07.1.094.228.12.38.08.217-.052.23-.04.23.31 0 .44.235.696.663.7.28.004.287.006.287.424 0 .388.015.43.25.527.14.06.297.15.344.207.144.172-.202.765-.72 1.213-.444.383-.493.403-.677.287-.11-.068-.356-.144-.55-.172-.394-.06-.587.037-.756.378a.437.437 0 0 1-.342.24c-.28.033-.37.288-.286.802.057.354-.027.486-.435.745-.163.103-.165.11 0 .24a.71.71 0 0 0 .367.138c.228 0 .362.06.424.15a11.387 11.387 0 0 0 6.746-10.402A11.39 11.39 0 0 0 15.832.894zm-3.77 8.03a.13.13 0 0 0-.057.012c-.05.03-.3.38-.56.78-.505.764-1.64 1.946-1.87 1.946-.073 0-.225-.11-.33-.252-.25-.338-.39-.325-.608.046-.098.167-.217.298-.263.298-.047 0-.258-.142-.47-.32-.212-.18-.706-.606-1.1-.94-1.282-1.087-1.44-1.14-1.352-.47.12.91.73 2.312 1.215 2.795.264.262.36.3.87.33.314.02.617.09.676.15.085.083-.002.1-.412.08-.51-.025-.523-.02-.55.217-.047.406.35.966.87 1.224.517.26.78.285.94.093.077-.093.132-.11.195-.046.23.232.94-.023 1.42-.515.346-.354.425-.648.24-.928-.132-.202-.17-.216-.618-.16-.31.038-.46.032-.427-.023.03-.047.254-.115.504-.15.25-.032.58-.11.733-.182.37-.17.75-.778.917-1.443.466-1.87.502-2.203.24-2.44a.365.365 0 0 0-.207-.103z" fill="#1673ff"/><path d="M49.367 5.294c-.326 0-.586.09-.78.27-.194.18-.29.443-.29.787v.478h-.47v.618h.47v2.457h.85V7.447h.776V6.83h-.775v-.3c0-.21.038-.357.11-.444.074-.09.187-.135.336-.135.08 0 .16.013.237.04.075.022.148.05.22.085l.17-.56a1.563 1.563 0 0 0-.395-.156 1.658 1.658 0 0 0-.457-.065zm73.49.005V9.9h.852v-1.03l.25-.25.863 1.28h1.013l-1.244-1.778 1.185-1.294h-1.037l-1.032 1.204V5.3zm-80.424.47c-.24 0-.455.03-.645.09-.184.062-.34.145-.47.253-.125.108-.22.237-.284.387-.066.152-.1.316-.097.482 0 .164.024.308.07.433.053.12.122.225.21.316.088.092.197.17.32.24.125.067.262.128.413.18l.342.117c.142.042.256.087.34.135.093.042.164.09.215.135.05.042.085.09.103.142.077.18.018.388-.142.502-.116.082-.287.122-.516.122-.192 0-.377-.023-.554-.07a3.434 3.434 0 0 1-.54-.212l-.2.656c.415.2.872.302 1.333.297.26 0 .484-.033.678-.098a1.37 1.37 0 0 0 .482-.264c.13-.112.227-.242.292-.393.065-.15.097-.31.097-.482 0-.29-.094-.534-.28-.73-.18-.198-.43-.35-.752-.457l-.39-.122a1.64 1.64 0 0 1-.474-.213.374.374 0 0 1-.15-.322.39.39 0 0 1 .168-.33c.117-.08.278-.12.484-.12.155 0 .313.022.477.07.163.042.333.107.51.192l.2-.657a2.577 2.577 0 0 0-.542-.2 2.872 2.872 0 0 0-.695-.078zm-12.635.072h-2.58v4.06h.884V8.28h1.554V7.6h-1.553V6.524h1.695zm40.1 0h-1.113l-.29 4.06h.82l.077-1.294c.008-.133.014-.28.018-.44.01-.162.015-.327.02-.496.017-.33.025-.662.025-.993h.02c.097.476.217.947.36 1.412l.588 1.81h.682l.573-1.805a31.77 31.77 0 0 0 .374-1.418h.02l.006.53c.008.457.025.908.05 1.354l.078 1.34h.83l-.302-4.06H71.62l-.562 1.85-.07.258-.08.29a9.42 9.42 0 0 0-.12.53h-.027a3.763 3.763 0 0 0-.05-.252 8.8 8.8 0 0 0-.155-.56 6.973 6.973 0 0 0-.076-.266zm31.54 0h-.88v4.06h.882V8.526l.335-.356 1.198 1.733h1.09l-1.644-2.29 1.513-1.77h-1.095l-1.4 1.708zm-49.93.037h-.85v.95h-.477v.617h.478v1.567c0 .296.08.52.237.67.16.147.428.22.802.22.163 0 .317-.016.463-.05.146-.035.256-.07.33-.105l-.13-.6a.77.77 0 0 1-.22.07c-.09.017-.178.026-.262.026a.44.44 0 0 1-.27-.076c-.067-.057-.1-.157-.1-.304v-1.42h.82V6.83h-.82zm46.058 0h-.854v.95h-.476v.617h.477v1.567c0 .296.08.52.24.67.158.147.424.22.798.22.165 0 .32-.016.466-.05.147-.035.256-.07.33-.105l-.13-.6a.77.77 0 0 1-.22.07c-.088.017-.177.026-.262.026a.44.44 0 0 1-.27-.076c-.066-.057-.098-.157-.098-.304v-1.42h.82V6.83h-.82zm20.57 0h-.85v.95h-.478v.617h.478v1.567c0 .296.078.52.236.67.16.147.427.22.8.22.164 0 .318-.016.464-.05.147-.035.256-.07.328-.105l-.128-.6a.77.77 0 0 1-.22.07c-.09.017-.178.026-.264.026a.44.44 0 0 1-.27-.076c-.064-.057-.097-.157-.097-.304v-1.42h.82V6.83h-.82zm-86.07.882v.002c-.24 0-.44.063-.6.186a1.14 1.14 0 0 0-.347.433l-.098-.554h-.664v3.073h.85V8.35c0-.32.07-.547.207-.684.14-.14.33-.217.53-.212.098 0 .184.01.257.032a.705.705 0 0 1 .18.063l.143-.678a.82.82 0 0 0-.195-.077.99.99 0 0 0-.264-.033zm30.756 0l.002.002c-.24 0-.44.063-.6.186a1.14 1.14 0 0 0-.347.433l-.097-.554h-.664v3.073h.85V8.35c0-.32.068-.547.206-.684.14-.14.33-.217.53-.212.098 0 .185.01.257.032a.712.712 0 0 1 .18.063l.14-.678a.82.82 0 0 0-.194-.077.99.99 0 0 0-.264-.033zm23.013 0v.002c-.207 0-.39.04-.556.122-.168.086-.32.2-.45.336l-.104-.393h-.67v3.073h.857V7.77a.94.94 0 0 1 .303-.253c.11-.062.23-.094.355-.096.138 0 .242.043.31.13.073.08.11.194.11.34v2.012h.857v-2.16a.905.905 0 0 1 .303-.24.838.838 0 0 1 .356-.08c.137 0 .24.04.31.128.072.08.11.194.11.34v2.012h.856V7.794c0-.335-.09-.59-.265-.766-.172-.178-.423-.265-.75-.265-.2 0-.39.042-.565.13-.18.082-.34.2-.47.347-.16-.32-.457-.478-.897-.478zm23.575 0l-.003.002a.95.95 0 0 0-.6.186 1.14 1.14 0 0 0-.346.433l-.096-.554h-.664v3.073h.85V8.35c0-.32.07-.547.207-.684.14-.14.33-.217.53-.212.098 0 .185.01.257.032a.727.727 0 0 1 .18.063l.143-.678a.826.826 0 0 0-.194-.077.988.988 0 0 0-.262-.033zm-50.26 0v.002c-.23 0-.45.03-.657.09a2.42 2.42 0 0 0-.587.246l.296.567c.16-.087.304-.148.43-.186.136-.04.263-.06.39-.06.158 0 .28.035.367.105.09.064.134.167.134.31v.185h-.387c-.195 0-.39.02-.58.06a1.5 1.5 0 0 0-.465.18.93.93 0 0 0-.314.315.88.88 0 0 0-.11.452c0 .133.022.258.065.374a.864.864 0 0 0 .206.304c.09.08.2.148.328.2.13.047.277.07.445.07.2 0 .378-.033.527-.103a1.02 1.02 0 0 0 .38-.283h.026l.078.316h.664v-2c0-.202-.03-.373-.09-.515a.823.823 0 0 0-.252-.355.982.982 0 0 0-.393-.205 1.83 1.83 0 0 0-.503-.065zm35.562 0v.002c-.208 0-.397.04-.57.122-.167.077-.32.19-.463.336l-.104-.393h-.67v3.073h.857V7.77a1.14 1.14 0 0 1 .327-.253c.11-.06.23-.093.356-.096.15 0 .264.048.342.143.077.09.116.214.116.373v1.967h.857V7.847c0-.353-.088-.622-.27-.806-.18-.185-.44-.277-.778-.277zm11.023 0v.002c-.233 0-.453.03-.658.09a2.42 2.42 0 0 0-.586.246l.296.567c.16-.087.303-.148.432-.186.133-.04.262-.06.386-.06.16 0 .28.035.368.105.09.064.135.167.135.31v.185h-.385c-.195 0-.39.02-.58.06-.177.038-.33.098-.466.18a.93.93 0 0 0-.315.315.88.88 0 0 0-.11.452c0 .133.023.258.065.374a.877.877 0 0 0 .207.304c.09.08.2.148.33.2.127.047.276.07.444.07.203 0 .38-.033.53-.103.155-.068.28-.162.38-.283h.025l.078.316h.665v-2c0-.202-.03-.373-.09-.515a.822.822 0 0 0-.252-.355.984.984 0 0 0-.392-.205 1.83 1.83 0 0 0-.503-.065zm6.286 0v.002c-.195-.002-.39.04-.566.122a1.56 1.56 0 0 0-.464.336l-.103-.393h-.67v3.073h.858V7.77c.098-.108.208-.192.328-.253.11-.06.23-.093.356-.096.148 0 .26.048.34.143a.56.56 0 0 1 .115.373v1.967h.858V7.847c0-.353-.09-.622-.27-.806-.18-.185-.44-.277-.782-.277zm3.13 0v.002c-.23 0-.45.03-.656.09a2.42 2.42 0 0 0-.587.246l.296.567c.16-.087.305-.148.432-.186.135-.04.262-.06.387-.06.16 0 .282.035.368.105.09.064.136.167.136.31v.185h-.388c-.195 0-.39.02-.58.06a1.47 1.47 0 0 0-.465.18.92.92 0 0 0-.314.315.874.874 0 0 0-.11.452c0 .133.02.258.063.374a.864.864 0 0 0 .206.304c.09.08.2.148.33.2.126.047.276.07.444.07.2 0 .378-.033.527-.103a1.02 1.02 0 0 0 .382-.283h.026l.077.316h.663v-2c0-.202-.03-.373-.09-.515a.822.822 0 0 0-.25-.355.984.984 0 0 0-.394-.205 1.83 1.83 0 0 0-.503-.065zm5.73 0v.002c-.222 0-.444.03-.657.09a2.422 2.422 0 0 0-.588.246l.3.567c.158-.087.3-.148.43-.186.133-.04.262-.06.387-.06.16 0 .28.035.368.105.09.064.135.167.135.31v.185h-.387c-.195 0-.39.02-.58.06a1.48 1.48 0 0 0-.464.18.916.916 0 0 0-.315.315.88.88 0 0 0-.11.452c0 .133.02.258.063.374a.862.862 0 0 0 .206.304c.088.08.198.148.327.2.13.047.278.07.445.07.203 0 .378-.033.53-.103.15-.068.278-.162.378-.283h.025l.078.316h.664v-2c0-.202-.03-.373-.09-.515a.823.823 0 0 0-.252-.355.98.98 0 0 0-.393-.205 1.83 1.83 0 0 0-.502-.065zm6.66 0v.002c-.232 0-.45.03-.657.09a2.422 2.422 0 0 0-.587.246l.296.567a2.28 2.28 0 0 1 .432-.186c.133-.04.262-.06.387-.06.16 0 .283.035.368.105.09.064.136.167.136.31v.185h-.387c-.195 0-.39.02-.58.06-.177.038-.33.098-.465.18a.925.925 0 0 0-.316.315.89.89 0 0 0-.108.452c0 .133.02.258.064.374a.864.864 0 0 0 .206.304c.09.08.2.148.33.2.127.047.276.07.444.07.203 0 .378-.033.528-.103.156-.068.283-.162.38-.283h.026l.08.316h.663v-2c0-.202-.03-.373-.09-.515a.823.823 0 0 0-.253-.355.98.98 0 0 0-.392-.205 1.83 1.83 0 0 0-.504-.065zm-93.29.002a1.57 1.57 0 0 0-1.123.45 1.497 1.497 0 0 0-.31.517c-.07.2-.11.42-.11.665 0 .275.047.51.137.71.09.197.21.36.362.49.154.128.332.226.534.29.207.06.426.09.657.09a2.67 2.67 0 0 0 1.064-.206l-.154-.602c-.116.05-.237.092-.36.124-.13.034-.28.05-.45.05-.27 0-.493-.06-.664-.18-.173-.12-.258-.302-.258-.547V8.59h2.043v-.38c0-.458-.125-.81-.374-1.064-.245-.254-.575-.38-.993-.38zm3.35 0a1.57 1.57 0 0 0-1.124.45 1.46 1.46 0 0 0-.308.517c-.075.2-.11.42-.11.665 0 .275.044.51.135.71.09.197.21.36.36.49.155.128.333.226.536.29.203.06.422.09.655.09.365.005.727-.065 1.064-.206l-.156-.602a2.31 2.31 0 0 1-.36.124c-.13.034-.28.05-.452.05-.27 0-.493-.06-.665-.18-.17-.12-.258-.302-.258-.547V8.59h2.043v-.38c0-.458-.125-.81-.373-1.064-.246-.254-.576-.38-.993-.38zm8.335 0c-.224 0-.432.036-.626.11-.194.072-.365.18-.51.32-.143.14-.253.312-.336.517-.085.223-.126.46-.122.698 0 .25.038.473.116.67.08.194.19.357.328.49.142.133.308.234.496.303a1.887 1.887 0 0 0 1.25-.006c.387-.15.693-.452.845-.837a1.81 1.81 0 0 0 .123-.683c0-.26-.04-.486-.122-.684a1.356 1.356 0 0 0-.825-.793 1.795 1.795 0 0 0-.617-.103zm19.072 0c-.232 0-.443.04-.632.122-.188.077-.35.187-.488.33a1.46 1.46 0 0 0-.31.515c-.073.2-.11.42-.11.665 0 .275.046.51.136.71.09.197.21.36.36.49.155.128.333.226.535.29.207.06.426.09.658.09a2.665 2.665 0 0 0 1.064-.206l-.154-.602c-.117.05-.238.092-.362.124a1.77 1.77 0 0 1-.45.05c-.27 0-.492-.06-.663-.18-.17-.12-.257-.302-.257-.547V8.59h2.043v-.38c0-.458-.125-.81-.373-1.064-.246-.254-.576-.38-.994-.38zm10.262 0c-.225 0-.433.036-.627.11a1.47 1.47 0 0 0-.508.32c-.142.14-.254.312-.336.517-.085.223-.127.46-.122.698 0 .25.038.473.116.67.08.194.19.357.328.49.143.133.308.234.497.303.19.07.4.105.623.105.224 0 .432-.038.626-.11a1.48 1.48 0 0 0 .844-.838 1.81 1.81 0 0 0 .122-.683c0-.26-.042-.486-.122-.684a1.28 1.28 0 0 0-.33-.49 1.354 1.354 0 0 0-.495-.303 1.795 1.795 0 0 0-.62-.103zm6.81 0c-.233 0-.443.04-.632.122-.19.077-.353.187-.49.33a1.474 1.474 0 0 0-.31.515c-.073.2-.11.42-.11.665 0 .275.045.51.135.71.09.197.212.36.362.49.155.128.333.226.535.29.206.06.425.09.657.09.365.005.728-.065 1.065-.206l-.155-.602a2.31 2.31 0 0 1-.36.124 1.77 1.77 0 0 1-.45.05c-.272 0-.493-.06-.665-.18-.172-.12-.258-.302-.258-.547V8.59h2.044v-.38c0-.458-.126-.81-.375-1.064-.244-.254-.575-.38-.992-.38zm8.85 0a1.575 1.575 0 0 0-1.123.45 1.497 1.497 0 0 0-.308.517 1.904 1.904 0 0 0-.112.665c0 .275.046.51.136.71.09.197.21.36.362.49.154.128.332.226.535.29.207.06.426.09.658.09.365.005.727-.065 1.064-.206l-.154-.602c-.108.048-.23.09-.362.124-.13.034-.28.05-.45.05-.27 0-.493-.06-.665-.18-.17-.12-.257-.302-.257-.547V8.59h2.044v-.38c0-.458-.125-.81-.375-1.064-.245-.254-.575-.38-.992-.38zm-37.404.062l-.897.003.856 3.072h.998l.4-1.663.142-.742.136.74.4 1.664h1l.85-3.074h-.87l-.38 1.63-.135.804H56l-.134-.804-.387-1.63h-.904l-.38 1.63-.136.803h-.025l-.116-.802zm23.597.003l1.058 3.073h.993l1.09-3.074h-.91l-.464 1.533-.187.928h-.026l-.186-.927-.45-1.534zm-42.904.54h-.003a.51.51 0 0 1 .24.05c.13.072.22.197.25.343.02.078.032.157.032.24l-1.148.012a.78.78 0 0 1 .2-.47.567.567 0 0 1 .427-.176zm3.345 0c.095 0 .175.017.24.05.065.035.12.083.16.144a.52.52 0 0 1 .092.2c.02.077.03.156.03.238l-1.147.013a.78.78 0 0 1 .2-.47.565.565 0 0 1 .425-.176zm27.41 0c.094 0 .174.017.238.05.13.072.222.197.25.343a.87.87 0 0 1 .033.24l-1.147.012a.78.78 0 0 1 .2-.47.567.567 0 0 1 .425-.176zm17.072 0a.51.51 0 0 1 .24.05c.062.035.117.084.16.144a.508.508 0 0 1 .09.2c.02.077.03.156.03.238l-1.146.013a.78.78 0 0 1 .2-.47.565.565 0 0 1 .427-.176zm8.85 0c.095 0 .175.017.24.05.064.035.118.083.16.144a.507.507 0 0 1 .09.2.84.84 0 0 1 .034.238l-1.147.013a.778.778 0 0 1 .2-.47.565.565 0 0 1 .425-.176zm-44.98.025c.09 0 .177.02.26.06.088.034.164.09.228.166a.872.872 0 0 1 .155.306c.038.123.057.273.057.45 0 .18-.018.333-.056.456-.038.12-.09.22-.155.297a.577.577 0 0 1-.22.168.74.74 0 0 1-.256.044.637.637 0 0 1-.492-.23.877.877 0 0 1-.154-.3c-.04-.14-.06-.29-.058-.437 0-.19.02-.347.058-.47a.802.802 0 0 1 .155-.297.52.52 0 0 1 .22-.16.658.658 0 0 1 .256-.053zm29.332 0c.09 0 .177.02.264.06.086.034.16.09.226.166a.872.872 0 0 1 .155.306c.038.123.058.273.058.45 0 .18-.02.333-.058.456-.04.12-.09.22-.155.297a.577.577 0 0 1-.22.168.742.742 0 0 1-.257.044.637.637 0 0 1-.49-.23.877.877 0 0 1-.154-.3 1.488 1.488 0 0 1-.06-.437c0-.19.02-.347.06-.47a.8.8 0 0 1 .153-.297.52.52 0 0 1 .22-.16.655.655 0 0 1 .256-.053zm-15.72 1.16v.485a.688.688 0 0 1-.23.225.6.6 0 0 1-.62.02c-.085-.056-.127-.156-.127-.303 0-.11.05-.205.154-.283.103-.08.285-.128.548-.137zm46.584 0v.485a.688.688 0 0 1-.232.225.6.6 0 0 1-.617.02c-.087-.056-.13-.156-.13-.303 0-.11.05-.205.155-.283.103-.08.286-.128.548-.137zm9.418 0v.485a.69.69 0 0 1-.232.225.6.6 0 0 1-.618.02c-.087-.056-.13-.156-.13-.303 0-.11.05-.205.155-.283.103-.08.286-.128.547-.137zm5.727 0v.485a.686.686 0 0 1-.232.225.6.6 0 0 1-.62.02c-.084-.056-.128-.156-.128-.303 0-.11.05-.205.155-.283.103-.08.286-.128.548-.137zm6.66 0v.485a.688.688 0 0 1-.23.225.6.6 0 0 1-.62.02c-.087-.056-.13-.156-.13-.303 0-.11.05-.205.155-.283.103-.08.287-.128.548-.137zm-46.883 4.68c-.292 0-.528.077-.71.233-.18.156-.272.338-.272.548 0 .144.036.26.108.35.07.09.174.135.308.135a.366.366 0 0 0 .25-.077.274.274 0 0 0 .09-.218c0-.08-.03-.144-.09-.192a.355.355 0 0 0-.234-.072.505.505 0 0 1 .21-.21.66.66 0 0 1 .314-.073c.168 0 .303.05.407.15.106.097.16.227.16.39 0 .158-.032.282-.094.37a.516.516 0 0 1-.278.186c-.122.038-.336.056-.64.056h-2.672v.476h.82a1.48 1.48 0 0 0-.608.63 1.99 1.99 0 0 0-.212.933c0 .45.095.8.284 1.047.19.245.452.368.788.368.263 0 .474-.05.63-.147.16-.097.287-.232.385-.404.128.198.268.34.422.425.154.083.347.125.578.125.345 0 .614-.122.806-.365.025-.032.047-.065.07-.1.13.122.258.222.382.292a1.3 1.3 0 0 0 .646.173c.304 0 .55-.09.737-.266.19-.18.283-.434.283-.76 0-.137-.008-.3-.024-.487a5.855 5.855 0 0 1-.025-.488c0-.332.092-.59.275-.773.184-.183.443-.275.776-.275.395 0 .705.14.928.425.226.28.34.65.34 1.105 0 .337-.072.6-.214.787a.68.68 0 0 1-.578.282c-.198 0-.35-.052-.455-.156a.573.573 0 0 1-.156-.42c0-.09.01-.165.03-.22.013.083.05.148.112.194.062.044.14.066.24.066a.31.31 0 0 0 .24-.105.4.4 0 0 0 .098-.28.382.382 0 0 0-.13-.307.524.524 0 0 0-.352-.11.62.62 0 0 0-.488.218c-.128.146-.192.343-.192.59a.94.94 0 0 0 .285.707c.19.18.445.272.766.272.402 0 .72-.137.95-.41.233-.274.35-.647.35-1.12 0-.39-.072-.74-.214-1.045a1.572 1.572 0 0 0-.617-.707 1.804 1.804 0 0 0-.956-.245c-.3 0-.567.06-.802.18a1.263 1.263 0 0 0-.546.51c-.127.225-.19.483-.19.777 0 .136.008.294.026.476.018.183.027.367.027.555 0 .18-.045.316-.133.407-.088.092-.22.138-.393.138a.882.882 0 0 1-.502-.152 1.768 1.768 0 0 1-.352-.327c.026-.137.043-.285.043-.45 0-.356-.074-.674-.222-.953a1.56 1.56 0 0 0-.624-.65c.29-.054.505-.165.64-.333.138-.167.207-.383.207-.647 0-.31-.095-.558-.285-.748-.187-.19-.438-.286-.75-.286zm-50.575.113l-.398.267c.265.26.398.52.398.78a.38.38 0 0 1-.08.256.407.407 0 0 1-.24.127 2.59 2.59 0 0 1-.48.032H27.04v.476h2.733c.326 0 .568-.04.728-.117a.785.785 0 0 0 .46-.732c0-.2-.042-.384-.124-.554a2.37 2.37 0 0 0-.374-.536zm4.62 0l-.398.267c.266.26.398.52.398.78a.38.38 0 0 1-.08.256.407.407 0 0 1-.24.127 2.59 2.59 0 0 1-.48.032h-2.05v.476h2.045a.992.992 0 0 1 .303.233.73.73 0 0 1 .16.3 1.9 1.9 0 0 0-.592-.094c-.29 0-.515.06-.67.176a.58.58 0 0 0-.23.492c0 .223.072.394.217.512.148.118.357.176.626.176.217 0 .412-.043.585-.13a.937.937 0 0 0 .396-.373.91.91 0 0 1 .067.356.72.72 0 0 1-.32.62c-.212.15-.526.224-.94.224-.392 0-.688-.075-.888-.225-.198-.15-.297-.367-.297-.646 0-.08.008-.16.024-.238l-.485-.066c-.022.112-.033.23-.033.357 0 .397.147.714.442.95.296.235.704.352 1.225.352.557 0 .98-.115 1.272-.344.293-.23.44-.562.44-.993a1.123 1.123 0 0 0-.366-.84v-.07c0-.166-.027-.313-.08-.44a.87.87 0 0 0-.243-.333c.23-.052.4-.15.516-.294a.798.798 0 0 0 .174-.512c0-.2-.04-.384-.123-.554a2.37 2.37 0 0 0-.375-.536zm7.2 0l-.4.267c.267.26.4.52.4.78a.38.38 0 0 1-.08.256.407.407 0 0 1-.24.127 2.59 2.59 0 0 1-.48.032h-2.05v.476h2.044a.992.992 0 0 1 .302.233.73.73 0 0 1 .162.3 1.9 1.9 0 0 0-.593-.094c-.29 0-.515.06-.67.176a.58.58 0 0 0-.23.492c0 .223.072.394.217.512.148.118.357.176.626.176.216 0 .41-.043.584-.13a.937.937 0 0 0 .395-.373.91.91 0 0 1 .065.356.72.72 0 0 1-.32.62c-.212.15-.525.224-.94.224-.392 0-.687-.075-.887-.225-.197-.15-.296-.367-.296-.646 0-.08.008-.16.024-.238l-.485-.066c-.02.112-.032.23-.032.357 0 .397.147.714.443.95.296.235.705.352 1.226.352.557 0 .98-.115 1.272-.344.294-.23.44-.562.44-.993a1.123 1.123 0 0 0-.365-.84v-.07c0-.166-.027-.313-.08-.44a.87.87 0 0 0-.243-.333c.227-.052.4-.15.515-.294a.798.798 0 0 0 .174-.512c0-.2-.042-.384-.124-.554a2.37 2.37 0 0 0-.374-.536zm6.42 0l-.398.267c.265.26.398.52.398.78a.38.38 0 0 1-.08.256.407.407 0 0 1-.24.127 2.59 2.59 0 0 1-.48.032h-2.05v.476h2.044a.992.992 0 0 1 .303.233.73.73 0 0 1 .16.3 1.9 1.9 0 0 0-.593-.094c-.29 0-.515.06-.67.176a.58.58 0 0 0-.23.492c0 .223.072.394.218.512.148.118.356.176.625.176.216 0 .41-.043.585-.13a.937.937 0 0 0 .395-.373.91.91 0 0 1 .066.356.72.72 0 0 1-.32.62c-.212.15-.526.224-.94.224-.392 0-.688-.075-.887-.225-.2-.15-.298-.367-.298-.646 0-.08.008-.16.024-.238l-.485-.066c-.02.112-.032.23-.032.357 0 .397.148.714.443.95.297.235.705.352 1.226.352.557 0 .98-.115 1.273-.344.292-.23.44-.562.44-.993a1.123 1.123 0 0 0-.366-.84v-.07c0-.166-.027-.313-.08-.44a.87.87 0 0 0-.244-.333c.228-.052.4-.15.515-.294a.8.8 0 0 0 .174-.512c0-.2-.042-.384-.124-.554a2.37 2.37 0 0 0-.374-.536zm17.904 0l-.398.267c.266.26.398.52.398.78a.38.38 0 0 1-.08.256.416.416 0 0 1-.234.127c-.1.022-.255.032-.464.032h-2.16v.476h.456a.5.5 0 0 0-.14.34c0 .093.01.178.032.255.024.077.06.16.11.25l.456-.19a.45.45 0 0 1-.08-.268c0-.266.19-.398.574-.398.172 0 .306.04.404.116a.39.39 0 0 1 .147.327c0 .18-.05.308-.147.386-.098.078-.31.138-.638.18a2.684 2.684 0 0 0-.658.162.857.857 0 0 0-.384.3.832.832 0 0 0-.13.48c0 .335.124.59.376.77.253.18.614.27 1.08.27.63 0 1.116-.147 1.46-.443.345-.297.517-.715.517-1.252 0-.267-.055-.515-.164-.742a1.64 1.64 0 0 0-.484-.596.854.854 0 0 0 .477-.285.78.78 0 0 0 .17-.51c0-.198-.04-.383-.122-.553a2.37 2.37 0 0 0-.374-.536zm31.1 0l-.4.267c.266.26.4.52.4.78a.386.386 0 0 1-.08.253.42.42 0 0 1-.24.13c-.107.02-.267.03-.48.03h-2.61v.478h2.05c.4.09.724.302.976.632.25.33.377.698.377 1.108 0 .237-.052.423-.154.557a.51.51 0 0 1-.434.197.728.728 0 0 1-.33-.07.768.768 0 0 1-.248-.202 4.08 4.08 0 0 1-.297-.46c-.17-.3-.333-.494-.485-.586a1.01 1.01 0 0 0-.548-.14.868.868 0 0 0-.655.28.986.986 0 0 0-.265.702 1.677 1.677 0 0 0 .327.973l.476-.188c-.206-.287-.31-.554-.31-.804 0-.154.04-.274.115-.362a.402.402 0 0 1 .317-.132c.088 0 .164.018.228.054a.68.68 0 0 1 .2.186c.07.087.157.22.26.395.125.21.238.374.34.488.1.112.22.198.353.26.136.06.293.09.47.09.358 0 .637-.112.84-.338.2-.228.302-.543.302-.947 0-.347-.08-.666-.24-.958a2.143 2.143 0 0 0-.682-.745c.315-.026.548-.116.697-.27a.79.79 0 0 0 .225-.57c0-.198-.04-.383-.123-.553a2.37 2.37 0 0 0-.375-.536zm5.37 0l-.397.267c.264.26.397.52.397.78a.38.38 0 0 1-.08.256.407.407 0 0 1-.24.127 2.59 2.59 0 0 1-.48.032h-1.83v.476h1.336a.55.55 0 0 1 .102.308c0 .12-.053.22-.16.297h-1.277v.43l.572-.007a.95.95 0 0 0-.438.823c0 .344.124.618.372.824.247.203.585.305 1.012.305.453 0 .804-.1 1.054-.302.25-.202.374-.48.374-.84a.94.94 0 0 0-.455-.813l.595.01v-.43h-1.243a.53.53 0 0 0 .078-.29c0-.1-.033-.205-.1-.314h.118c.325 0 .568-.04.728-.117a.784.784 0 0 0 .458-.732c0-.2-.04-.384-.123-.554a2.367 2.367 0 0 0-.373-.536zm19.106 0l-.398.267c.265.26.398.52.398.78a.38.38 0 0 1-.08.256.407.407 0 0 1-.24.127 2.585 2.585 0 0 1-.48.032h-1.83v.476h1.336a.552.552 0 0 1 .102.308c0 .12-.053.22-.158.297h-1.28v.43l.573-.007a.95.95 0 0 0-.437.823c0 .344.123.618.37.824.25.203.586.305 1.013.305.454 0 .806-.1 1.055-.302.25-.202.374-.48.374-.84a.94.94 0 0 0-.456-.813l.596.01v-.43h-1.242a.53.53 0 0 0 .077-.29c0-.1-.032-.205-.098-.314h.116c.326 0 .568-.04.728-.117a.785.785 0 0 0 .46-.732c0-.2-.042-.384-.123-.554a2.37 2.37 0 0 0-.375-.536zm-6.32.84c-.327.01-.575.076-.747.202a.605.605 0 0 0-.255.518c0 .114.03.226.087.336.06.107.145.2.255.278-.198.126-.35.308-.458.545-.106.238-.16.504-.16.8 0 .437.112.78.333 1.027.224.247.527.37.91.37.282 0 .51-.043.68-.13.172-.09.333-.23.483-.42.13.19.277.33.443.42.168.087.367.13.6.13.35 0 .62-.09.81-.27.192-.183.287-.436.287-.76 0-.462-.212-.818-.637-1.068a.93.93 0 0 0 .518-.85.896.896 0 0 0-.257-.64c-.172-.183-.42-.31-.745-.385l-.17.47c.214.04.38.11.496.205.116.096.174.23.174.404 0 .16-.055.28-.165.365-.11.084-.31.125-.6.125h-.35v.46h.453c.232.053.42.16.563.322a.8.8 0 0 1 .218.557c0 .183-.054.326-.162.428-.108.1-.263.152-.464.152a.73.73 0 0 1-.536-.204c-.138-.135-.218-.328-.24-.578h-.47c-.088.52-.376.782-.866.782-.275 0-.482-.074-.62-.222-.135-.15-.203-.374-.203-.673v-.132c.178.104.375.156.593.156.318 0 .564-.074.74-.22a.73.73 0 0 0 .266-.593.695.695 0 0 0-.23-.548c-.152-.137-.355-.205-.608-.205a.87.87 0 0 0-.102.007c-.254-.082-.38-.208-.38-.378 0-.104.046-.18.14-.23.094-.05.235-.077.422-.08zm-23.125.54l-.285.453c.605.318.907.748.907 1.29 0 .408-.14.727-.42.957-.28.227-.674.34-1.186.34-.327 0-.612-.06-.856-.18a1.31 1.31 0 0 1-.56-.516 1.447 1.447 0 0 1-.195-.74c.174.105.373.156.596.156.327 0 .585-.084.775-.254a.857.857 0 0 0 .285-.67c0-.254-.078-.455-.23-.603-.155-.148-.363-.222-.627-.222-.24 0-.46.063-.656.19-.193.127-.346.31-.458.55a1.94 1.94 0 0 0-.17.83c0 .39.086.734.256 1.032.17.297.41.526.725.686.314.16.68.24 1.097.24.688 0 1.216-.162 1.58-.486.366-.323.55-.76.55-1.308 0-.757-.378-1.338-1.13-1.743zm-22.13.01c-.373 0-.677.14-.91.42-.234.28-.35.656-.35 1.13 0 .614.21 1.097.634 1.45.426.352 1.027.527 1.804.527.705 0 1.243-.117 1.614-.35.37-.234.557-.54.557-.922a.796.796 0 0 0-.264-.617c.27-.216.406-.47.406-.767a.807.807 0 0 0-.267-.627c-.18-.163-.425-.245-.74-.245-.282 0-.51.07-.686.207a.653.653 0 0 0-.26.54c0 .325.17.58.51.765H71.26v.467h1.243c.337 0 .6-.037.79-.11.11.083.165.198.165.344 0 .248-.147.447-.44.597-.292.147-.707.22-1.246.22-.597 0-1.066-.124-1.408-.376-.34-.253-.518-.606-.536-1.06.184.105.383.157.596.157.328 0 .586-.084.776-.252.19-.168.284-.392.284-.674 0-.248-.08-.448-.24-.598-.157-.15-.37-.224-.637-.224zm17.755 0c-.36 0-.654.135-.884.404-.23.27-.344.626-.344 1.07 0 .444.122.84.365 1.19.243.348.6.636 1.07.863l.268-.464c-.384-.167-.677-.37-.88-.613a1.43 1.43 0 0 1-.336-.838c.17.09.358.133.566.133.33 0 .592-.084.782-.254a.858.858 0 0 0 .287-.672c0-.25-.08-.448-.24-.596-.157-.15-.376-.224-.655-.224zm-35.312.07v.478h2.045a.99.99 0 0 1 .302.233.73.73 0 0 1 .162.3 1.9 1.9 0 0 0-.594-.094c-.29 0-.515.06-.67.176a.58.58 0 0 0-.23.492c0 .223.072.394.218.512.147.118.356.176.626.176.215 0 .41-.043.584-.13a.937.937 0 0 0 .395-.373.91.91 0 0 1 .064.356.72.72 0 0 1-.32.62c-.212.15-.525.224-.94.224-.39 0-.687-.075-.887-.225-.197-.15-.296-.367-.296-.646 0-.08.01-.16.025-.238l-.485-.066c-.022.112-.033.23-.033.357 0 .397.148.714.443.95.296.235.704.352 1.225.352.557 0 .98-.115 1.273-.344.293-.23.44-.562.44-.993a1.123 1.123 0 0 0-.366-.84v-.07c0-.166-.026-.313-.08-.44a.867.867 0 0 0-.2-.29h1.245c.423 0 .735.045.937.14.202.093.366.245.494.454.128.21.192.488.192.837 0 .358-.07.63-.207.817-.136.188-.33.282-.584.282-.2 0-.35-.052-.456-.156a.573.573 0 0 1-.156-.42c0-.09.01-.165.03-.22.012.083.05.148.11.194a.405.405 0 0 0 .24.066.31.31 0 0 0 .24-.104.4.4 0 0 0 .1-.282.382.382 0 0 0-.13-.306.524.524 0 0 0-.353-.11.62.62 0 0 0-.49.215c-.127.144-.19.342-.19.593a.94.94 0 0 0 .285.707c.19.18.445.272.766.272.413 0 .733-.133.958-.4.228-.27.342-.653.342-1.148 0-.44-.077-.796-.23-1.07a1.506 1.506 0 0 0-.638-.625c-.272-.14-.653-.213-1.145-.213H55.71zm50.9 0v.478H106c.4.09.724.302.976.632.25.33.377.698.377 1.108 0 .237-.05.423-.153.557a.51.51 0 0 1-.434.197.728.728 0 0 1-.33-.07.768.768 0 0 1-.248-.202 4.075 4.075 0 0 1-.296-.46c-.172-.3-.333-.494-.485-.586a1.013 1.013 0 0 0-.548-.14.868.868 0 0 0-.657.28.986.986 0 0 0-.264.702 1.677 1.677 0 0 0 .327.973l.475-.188c-.206-.287-.31-.554-.31-.804 0-.154.04-.274.115-.362a.402.402 0 0 1 .318-.132c.088 0 .163.018.227.054a.678.678 0 0 1 .2.186c.07.088.157.22.26.395.125.21.238.374.34.488.1.112.22.198.353.26.136.06.293.09.47.09.358 0 .637-.112.84-.338.2-.228.3-.543.3-.946 0-.34-.078-.656-.236-.946a2.105 2.105 0 0 0-.692-.748h1.551c.422 0 .735.046.936.14.202.094.367.246.494.455.128.21.192.488.192.837 0 .358-.07.63-.207.817-.135.188-.33.282-.583.282-.198 0-.35-.052-.456-.156a.573.573 0 0 1-.155-.42c0-.09.01-.165.03-.22a.28.28 0 0 0 .11.194.405.405 0 0 0 .24.066.31.31 0 0 0 .24-.104.4.4 0 0 0 .1-.282.382.382 0 0 0-.13-.306.525.525 0 0 0-.353-.11.62.62 0 0 0-.49.215c-.127.144-.19.342-.19.593a.94.94 0 0 0 .285.707c.19.18.445.272.767.272.412 0 .73-.133.957-.4.228-.27.34-.653.34-1.148 0-.44-.076-.796-.23-1.07a1.506 1.506 0 0 0-.637-.625c-.272-.14-.653-.213-1.144-.213h-1.4zm8.63 0c-.314 0-.557.02-.73.053-.17.033-.314.09-.436.177a.767.767 0 0 0-.267.303.83.83 0 0 0-.083.36c0 .18.04.34.12.478.08.136.203.25.364.34a.945.945 0 0 0-.335.322.807.807 0 0 0-.105.42c0 .195.044.364.132.505.09.14.22.247.386.32.168.073.41.108.728.108h.03v-.485h-.04c-.257 0-.443-.042-.56-.125a.426.426 0 0 1-.173-.37c0-.09.022-.168.064-.23a.465.465 0 0 1 .183-.152.76.76 0 0 1 .287-.077c.114-.01.268-.015.462-.015h.592v-.476h-.706a2.26 2.26 0 0 1-.56-.05.525.525 0 0 1-.276-.166.43.43 0 0 1-.09-.275c0-.1.02-.184.063-.248a.448.448 0 0 1 .194-.152.88.88 0 0 1 .315-.072c.122-.008.29-.012.498-.012h1.615v-.477zm-75.078.316c-.45 0-.806.144-1.072.43-.263.29-.395.67-.395 1.148 0 .487.13.87.386 1.147.26.277.612.415 1.055.415.455 0 .817-.143 1.084-.428.267-.286.4-.665.4-1.138 0-.49-.127-.874-.383-1.154-.253-.28-.612-.422-1.075-.422zm13.62 0c-.45 0-.807.144-1.073.43-.264.29-.396.67-.396 1.148 0 .487.13.87.386 1.147.26.277.61.415 1.054.415.455 0 .817-.143 1.084-.428.268-.286.402-.665.402-1.138 0-.49-.128-.874-.384-1.154-.253-.28-.61-.422-1.075-.422zm10.672 0c-.45 0-.807.144-1.072.43-.264.29-.395.67-.395 1.148 0 .487.128.87.386 1.147.26.277.61.415 1.054.415.455 0 .816-.143 1.084-.428.27-.286.402-.665.402-1.138 0-.49-.128-.874-.383-1.154-.255-.28-.613-.422-1.076-.422zm14.158 0c-.45 0-.806.144-1.072.43-.263.29-.395.67-.395 1.148 0 .487.13.87.386 1.147.26.277.612.415 1.055.415.456 0 .817-.143 1.084-.428.267-.286.4-.665.4-1.138 0-.49-.127-.874-.383-1.154-.253-.28-.612-.422-1.075-.422zm-2.866.04c.158 0 .283.04.375.125.092.08.14.188.14.322 0 .102-.03.2-.09.29a.812.812 0 0 1-.256.237l-.027-.016c-.22-.096-.377-.186-.467-.272a.423.423 0 0 1-.132-.31.34.34 0 0 1 .123-.274.5.5 0 0 1 .336-.105zm-2.482.005c.122 0 .218.036.29.11.074.072.11.172.11.302 0 .15-.052.267-.157.35-.106.082-.26.123-.462.123a.802.802 0 0 1-.52-.182c.047-.228.135-.402.263-.52a.67.67 0 0 1 .476-.184zm17.737 0c.28 0 .42.136.42.41a.413.413 0 0 1-.162.35c-.106.08-.26.122-.458.122a.828.828 0 0 1-.503-.167.946.946 0 0 1 .255-.522.623.623 0 0 1 .45-.194zm2.58 0c.12 0 .217.036.29.11.073.072.11.172.11.302a.42.42 0 0 1-.16.35c-.107.082-.26.123-.463.123a.876.876 0 0 1-.515-.16c.05-.237.14-.417.27-.54a.66.66 0 0 1 .467-.186zm-25.048.116h.045c.458.293.686.72.686 1.278 0 .39-.13.69-.386.902-.258.21-.62.314-1.09.314-.637 0-.955-.184-.955-.554 0-.153.06-.268.182-.344.124-.076.343-.133.656-.17.36-.045.626-.142.8-.294.174-.152.26-.363.26-.632a.732.732 0 0 0-.198-.5zm14.072 0h.102c.31 0 .58.066.81.2.233.134.41.323.53.566.125.244.187.515.187.815 0 .61-.214.913-.64.913a.658.658 0 0 1-.492-.206c-.133-.14-.208-.332-.224-.576h-.47c-.022.246-.098.438-.227.576a.645.645 0 0 1-.492.206c-.218 0-.378-.075-.48-.227-.1-.154-.152-.386-.152-.698 0-.31.062-.584.185-.824a1.3 1.3 0 0 1 .54-.552c.236-.128.51-.192.824-.192zm-49.587.242l-.413.29c.17.195.3.387.383.58.086.19.13.39.13.603 0 .243-.054.434-.16.574a.52.52 0 0 1-.44.206.696.696 0 0 1-.32-.07.825.825 0 0 1-.246-.202 3.593 3.593 0 0 1-.298-.46 2.29 2.29 0 0 0-.306-.44.88.88 0 0 0-.308-.214 1.095 1.095 0 0 0-.42-.072.864.864 0 0 0-.652.28.97.97 0 0 0-.267.7c0 .17.028.34.086.514.058.172.138.325.24.46l.476-.187c-.206-.285-.31-.552-.31-.804 0-.154.04-.274.115-.362a.402.402 0 0 1 .318-.132c.088 0 .163.018.227.054a.68.68 0 0 1 .2.186c.07.087.157.22.26.395.125.21.238.374.34.488.1.112.22.198.353.26.136.06.293.09.47.09.362 0 .642-.115.842-.344.2-.23.302-.554.302-.97 0-.518-.2-.993-.603-1.422zm-1.413.012a.34.34 0 0 0-.255.108.352.352 0 0 0-.103.254.353.353 0 0 0 .357.36c.1 0 .183-.035.25-.105a.36.36 0 0 0 .103-.255c0-.1-.034-.184-.102-.254a.333.333 0 0 0-.25-.108zm8.567.042c.296 0 .528.1.696.302.17.2.255.473.255.818s-.085.616-.254.812c-.17.194-.41.29-.722.29-.295 0-.528-.1-.697-.3-.168-.2-.252-.47-.252-.817s.084-.618.252-.81c.17-.197.41-.295.724-.295zm13.62 0c.296 0 .528.1.695.302.17.2.255.473.255.818s-.085.616-.255.812c-.17.194-.41.29-.722.29-.295 0-.528-.1-.697-.3-.168-.2-.252-.47-.252-.817s.084-.618.252-.81c.17-.197.41-.295.725-.295zm10.673 0c.296 0 .527.1.695.302.17.2.254.473.254.818s-.085.616-.254.812c-.17.194-.41.29-.722.29-.295 0-.528-.1-.698-.3-.167-.2-.25-.47-.25-.817s.083-.618.25-.81c.17-.197.412-.295.725-.295zm14.158 0c.297 0 .528.1.696.302.17.2.254.473.254.818s-.084.616-.254.812c-.17.194-.41.29-.722.29-.295 0-.528-.1-.698-.3-.167-.2-.25-.47-.25-.817s.083-.618.25-.81c.17-.197.412-.295.725-.295zm39.86.195c.11 0 .197.03.265.093.068.06.102.143.102.248 0 .24-.192.36-.575.36a.81.81 0 0 1-.47-.147.884.884 0 0 1 .264-.41.627.627 0 0 1 .413-.143zm-81.606.362c.192 0 .36.034.506.104-.09.26-.284.392-.584.392-.265 0-.398-.083-.398-.248 0-.086.04-.15.117-.19.078-.04.197-.06.36-.06zm7.2 0c.19 0 .36.034.505.104-.09.26-.286.392-.585.392-.265 0-.398-.083-.398-.248 0-.086.04-.15.116-.19.078-.04.198-.06.36-.06zm6.42 0c.19 0 .36.034.506.104-.09.26-.285.392-.584.392-.266 0-.4-.083-.4-.248 0-.086.04-.15.118-.19.078-.04.198-.06.36-.06zm7.198 0c.192 0 .36.034.506.104-.09.26-.284.392-.583.392-.266 0-.4-.083-.4-.248 0-.086.04-.15.118-.19.078-.04.198-.06.36-.06zm46.955.18c.293 0 .52.065.677.197.157.13.236.315.236.55 0 .226-.08.403-.236.53-.156.126-.382.19-.677.19-.296 0-.52-.064-.677-.19a.648.648 0 0 1-.233-.53c0-.23.077-.414.233-.548.158-.134.383-.2.677-.2zm19.105 0c.294 0 .52.065.677.197.157.13.235.315.235.55 0 .226-.078.403-.236.53-.157.126-.382.19-.678.19-.295 0-.52-.064-.677-.19a.648.648 0 0 1-.233-.53c0-.23.078-.414.233-.548.158-.134.384-.2.677-.2zm-89.447 1.227l-.395.17c.072.092.128.19.17.29.042.1.063.187.063.258a.254.254 0 0 1-.096.213c-.063.05-.19.075-.377.075h-.772v.398h.757c.182.075.32.173.42.295a.63.63 0 0 1 .146.404c0 .134-.032.236-.098.304s-.163.102-.293.102a.468.468 0 0 1-.343-.12c-.08-.08-.13-.2-.147-.36h-.403a.52.52 0 0 1-.178.354.596.596 0 0 1-.396.123.594.594 0 0 1-.35-.09c-.086-.06-.13-.152-.13-.278 0-.094.023-.165.067-.213a.212.212 0 0 1 .17-.072c.063 0 .11.016.137.048.028.032.042.07.042.117 0 .042-.01.087-.028.135l.356.03a.473.473 0 0 0 .066-.267.387.387 0 0 0-.144-.317.622.622 0 0 0-.398-.117.66.66 0 0 0-.49.18.652.652 0 0 0-.184.484c0 .223.082.405.245.545.164.14.37.21.615.21.18 0 .332-.027.458-.083a.883.883 0 0 0 .338-.266c.16.235.392.35.698.35.255 0 .457-.066.604-.2.148-.13.222-.317.222-.556 0-.334-.153-.606-.458-.818.273-.104.41-.293.41-.57 0-.228-.1-.482-.305-.76zm11.84.05l-.422.23a1.2 1.2 0 0 1 .234.702c0 .328-.134.584-.402.765-.27.182-.657.273-1.164.273-.303 0-.598-.038-.886-.114l-.12.43c.354.084.69.127 1.012.127.653 0 1.158-.127 1.516-.382.357-.256.536-.618.536-1.087 0-.36-.1-.675-.303-.943zm16.374 0l-.423.23a1.2 1.2 0 0 1 .234.702c0 .328-.133.584-.4.765-.27.182-.658.273-1.165.273-.304 0-.6-.038-.887-.114l-.12.43c.354.084.69.127 1.013.127.653 0 1.16-.127 1.516-.382.357-.256.536-.618.536-1.087 0-.36-.1-.675-.303-.943z" style="line-height:1.25;-inkscape-font-specification:'Ek Mukta';text-align:start" font-weight="400" font-size="20.006" font-family="Ek Mukta" letter-spacing="0" word-spacing="0" fill="#333"/></svg></svg>
      </a>
    </div>
    <!-- All the links -->



    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="https://commune.fsmk.org" class="nav-item-en">Community</a>
          <a href="https://commune.fsmk.org" class="nav-item-ka">ಸಮುದಾಯ</a>
        </li>
        <!--{% for page in site.pages %}-->
        {% if page.title=='GLUGs' %}
        {% if page.nav %}
        <li class="nav-item">
          <a href="{{ site.baseurl}}{{ page.permalink }}" class="nav-item-en">{{ page.title }}</a>
          <a href="{{ site.baseurl}}/ka{{ page.permalink }}" class="nav-item-ka">{{ page.title_kannada }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% if page.title=='Community Centers' %}
        {% if page.nav %}
        <li class="nav-item">
          <a href="{{ site.baseurl}}{{ page.permalink }}" class="nav-item-en">{{ page.title }}</a>
          <a href="{{ site.baseurl}}/ka{{ page.permalink }}" class="nav-item-ka">{{ page.title_kannada }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% if page.title=='Events' %}
        {% if page.nav %}
        <li class="nav-item">
          <a href="{{ site.baseurl}}{{ page.permalink }}" class="nav-item-en">{{ page.title }}</a>
          <a href="{{ site.baseurl}}/ka{{ page.permalink }}" class="nav-item-ka">{{ page.title_kannada }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% if page.title=='Press' %}
        {% if page.nav %}
        <li class="nav-item">
          <a href="{{ site.baseurl}}{{ page.permalink }}" class="nav-item-en">{{ page.title }}</a>
          <a href="{{ site.baseurl}}/ka{{ page.permalink }}" class="nav-item-ka">{{ page.title_kannada }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% if page.title=='About' %}
        {% if page.nav %}
        <li class="nav-item">
          <a href="{{ site.baseurl}}{{ page.permalink }}" class="nav-item-en">{{ page.title }}</a>
          <a href="{{ site.baseurl}}/ka{{ page.permalink }}" class="nav-item-ka">{{ page.title_kannada }}</a>
        </li>
        {% endif %}
        {% endif %}
        <!--{% endfor %}-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


