---
layout: default
---

<!--<h1 class="category">{{ page.title }}</h1>
<ul class="posts">
{% for post in site.categories[page.category] %}
    <div>{{ post.date | date_to_html_string }}</div>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="categories">Filed under {{ post.categories | category_links }}</div>
{% endfor %}
</ul>-->
    
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

<div class="row row-margin">
  {% for post in site.categories[page.category] %}
  {% if post.language != 'ka' %}
  {% include small_card.html %}
  {% endif %}
  {% endfor %}
</div>
