---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.image %}
  <img class="image-rounded" src="{{ site.baseurl }}/images/{{ page.image }}">
  {% endif %}

  <div class="post-custom">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta">Published on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      {% if page.language == 'ka' %}<p class="post-meta">Translated by {{ page.translator }}</p>{% endif %}
    </header>

    <div class="post-content post-content-custom{% if page.language == 'ka' %} post-content-ka{% endif %}" itemprop="articleBody">
      {{ content }}
    </div>
    <div id='discourse-comments'></div>
  </div>

  {% if page.discourse_topic_id %}
  <script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://discuss.fsmk.org/',
                     topicId: '{{ page.discourse_topic_id }}' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
  </script>
  {% else %}
  <!-- Commented by Shijil to avoid random post creation on discourse-->
  <!--<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://discuss.fsmk.org/',
                     discourseEmbedUrl: '{{ site.url }}{{ site.baseurl }}{% if page.language == 'ka' %}{{ page.url|remove_first: '/ka' }}{% else %}{{ page.url }}{% endif %}' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>-->
{% endif %}

</article>
